.button {
    width: 150px;
    height: 75px;
    border: 3px solid #6ee4ff;
    border-radius: 10px;
    background-color: #6ee4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 600;
    color: #2a2c36;
    cursor: pointer;
}

.button:active {
    color: white;
    border: 2px solid white;
}

.button:last-child {
    width: 220px;
}

.button:disabled {
    opacity: 50%;
    cursor: none;
    color: #2a2c36;
    border: 2px solid #2a2c36;
}
